# Django
DJANGO_SECRET_KEY=django-example-key
DJANGO_SETTINGS_MODULE=config.settings.dev
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgres://postgres:postgres@db:5432/food_trucks

# Redis
REDIS_URL=redis://redis:6379/1

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Elasticsearch
ELASTICSEARCH_HOST=http://elasticsearch:9200

# DataSF
DATASF_FOOD_TRUCKS_ENDPOINT=https://data.sfgov.org/resource/rqzj-sfat.json

# Sentry (prod only)
SENTRY_DSN=EXAMPLE_DSN